:root {
    --strong-cyan: #26c0ab;
    --very-strong-cyan: #00494d;
    --grayish-cyan: #7f9c9f;
    --dark-grayish-cyan: #5e7a7d;
    --light-grayish-cyan: #c5e4e7;
    --very-light-grayish-cyan: #f4fafa;
    --white: #fff;
}

label {
    color: var(--dark-grayish-cyan);
}

.title h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    letter-spacing: 5px;
    margin-bottom: 2rem;
}

.calculator {
    display: flex;
    gap: 3rem;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 3px 5px #888;

    background-color: var(--white);
    font-size: 1.4rem;
}

.bill-inputs {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tip-area p {
    color: var(--dark-grayish-cyan);
}

.tip-area .tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tip-area .tips button,
.tip-area .tips input {
    width: 10rem;
    padding: 0.8rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    outline: none;
}

.tip-area .tips button {
    background-color: var(--very-strong-cyan);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tip-area .tips button:hover {
    background-color: var(--strong-cyan);
}

.tip-area .tips input {
    color: var(--dark-grayish-cyan);
    background-color: var(--very-light-grayish-cyan);
    text-align: center;
}

.bill-output {
    width: 30rem;
    padding: 1.5rem 2.2rem;
    border-radius: 1rem;
    background-color: var(--very-strong-cyan);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

.bill-output button {
    position: absolute;
    bottom: 3rem;
    width: 85%;

    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    opacity: 0.3;
    background-color: var(--strong-cyan);
    color: var(--very-strong-cyan);
    font-size: 1.8rem;
    font-weight: 700;

    transition: background-color 0.3s ease-in;
}

.bill-output .active-btn {
    opacity: 1;
    cursor: pointer;
}

.bill-output button.active-btn:hover {
    background-color: var(--light-grayish-cyan);
}
